.mobile-section {
    display: none;
}

@media (max-width: 800px) {
    .header-content {
        display: flex;
        flex-direction: column;
    }

    .header-content>.logo {
        display: none;
    }

    .mobile-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
    }

    .mobile-menu-toggle {
        display: block;
    }

    .nav {
        display: none;
    }

    .nav.nav-open {
        display: block;
        position: relative;
        top: -10px;
        border-top: 1px solid green;
        border-bottom: 1px solid green;
        background-color: #fff;
        width: 100%;
        z-index: 1000;
        left: 0;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
    }

    .hero-image {
        display: none;
    }

    .btn-get-started {
        padding: 10px 7px;
        font-size: 14px !important;
        gap: 2px;
    }

    .how-it-works>.container>.section-header>h2 {
        margin: 0 auto;
    }

    .services {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .services>.container {
        padding: 0;
    }

    .services-grid {
        display: flex;
        flex-direction: column;
    }

    .services > .container > .services-grid > .service-card {
    width: 100%;
    max-width: 310px;
    /* height: 300px; */
    border-radius: 16px;
    padding: 20px;
    transition: transform 0.4s ease;
    border: none;
}

    .service-icon {
        display: inline-flex;
        padding: 0;
        width: fit-content;
    }

    .service-icon>span {
        font-size: 1.1rem !important;
    }

    .contact-options {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: -20px !important;
    }

    .why-grid {
        display: flex;
        flex-direction: column;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
    }

    .contact-info>li {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .services {
        margin: 0;
        width: 100%;
    }


}

@media (max-width: 344px) {
    .btn-get-started {
        padding: 7px 6px;
        font-size: 12px !important;
        gap: 1px;
    }
}

.section-header {
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.section-header>h2 {
    font-size: 1.5rem;
}